<h2>Adicionar cidade</h2>
<div class="container">

    <form class="form-group" [formGroup]="createCidadeForm" (ngSubmit)="create()">
        <div class="formulario container-fluid col-md-6">
            <label for="nome">
            Nome:
            <input type="text" class="form-control" placeholder="Cidade" formControlName="nome">
        </label>

            <label for="populacao">
            População:
            <input type="number" placeholder="População" class="form-control" formControlName="populacao" >
        </label>
        </div>
        <div class="botoes">
            <button type="button" class="btn btn-outline-success" [disabled]="!createCidadeForm.valid" type="submit">Add</button>
            <button type="button" class="btn btn-outline-danger" (click)="cancel()">Cancel</button>
        </div>

    </form>

</div>