<h2>Adicionar cidade</h2>
<div class="container col-2">

    <form class="form-group" [formGroup]="createCidadeForm" (ngSubmit)="create()">
        <label for="name">
            Nome:
            <input type="text" class="form-control" placeholder="Cidade" formControlName="name">
        </label>

        <label for="date">
            População:
            <input type="number" placeholder="População" class="form-control" formControlName="date" >
        </label>
        <div class="option">
            <button class="btn" [disabled]="!createCidadeForm.valid" type="submit">Add</button>
            <button class="btn" (click)="cancel()">Cancel</button>
        </div>

    </form>

</div>